div#content div#biographysection div#infoofcientist {
    width: 100%;
    height: 70px;
    padding: 10px 10px 10px 10px;
}

div#content div#biographysection div#infoofcientist div#contentofinfoofcientist {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--name-day-of-death-and-date-of-birth-bar);
    border-radius: 10px;
}

div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dateofbirth,
div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#name,
div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dayofdeath {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dayofdeath h3,
div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dateofbirth h3 {
    font-family: "Poppins-Medium", Arial;
    color: var(--text-color);
    margin-right: 10px;
}

div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#name h3 {
    font-family: "Poppins-Medium", Arial;
    color: var(--text-color);
}

div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dateofbirth div#image,
div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dayofdeath div#image {
    width: 40px;
    height: 50px;
}

div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dateofbirth div#image img,
div#content div#biographysection div#infoofcientist div#contentofinfoofcientist div#dayofdeath div#image img {
    width: 100%;
    height: 100%;
}